$blue: #3458a8;
$black: #162546;
$bg: #f3f4f8;

.post-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.post {
    border-left: 5px solid $blue;
    background-color: $bg;
    color: $blue;
    display: block;
    padding-left: 15px;
    text-decoration: none;
    transition: 0.2s all linear;
    &-header {
        margin-bottom: 5px;
        margin-top: 0;
    }
    &-timestamp {
        font-size: 0.9rem;
        font-style: italic;
    }
    &-paragraph {
        text-align: justify;
        text-indent: 1.5em;
    }
    &:hover {
        color: $black;
        background-color: $bg - 10;
    }
}